.wrapper{
    width: 640px;
    height: 480px;
    margin: 0 auto;
}
.video-container{
    background:#000;
    width:100%;
    color:#fff;
}
    
.video-player{    
    width:100%;
    margin:0;
}

.video-hud{    
    margin:0;
    padding:1px;
    height: 39px;
    overflow: hidden;
}

.video-hud__element{    
    cursor:pointer;
    display:inline-block;
    vertical-align:middle;
    height:30px;
    line-height: 30px;
}


.video-hud__progress-bar{
    width: 160px;
}

.video-hud__speed, .video-hud__resolution{
    outline: none;
    border-radius: 5px;
    border: 2px solid #000;
}

.video-hud__speed:focus{
    border-color: #0043ff;
}

.video-hud__action{    
    width:30px;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-delay: 0.2s;   
}

.video-hud__action:hover{
    transform:scale(1.1)
}

.video-hud__action_play{
    background: url(./images/2401820-200.png) center no-repeat;
    background-size: 80%;   
    background-color:#0043ff;
    border-radius:0 100px 100px 0;
}

.video-hud__action_pause{
    background: url(./images/media-controls-pause-icon.png) center no-repeat;
    background-size: 80%;
    background-color:#c00;    
}
    
.video-hud__mute{    
    width:30px;
    border-radius:100px 100px 100px 100px;    
}
    
.video-hud__mute_true{    
    background:#c00;
}
    
.video-hud__mute_false{    
    background:#ccc;
}
    
.video-hud__download{    
    background:#ccc;
    width:30px;
    border-radius:0 0 100px 100px;
}

.video-hud__fullscreen{
    text-align: center;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-delay: 0.2s;
}

.video-hud__fullscreen:hover{
    transform: scale(1.3);
}

.video-hud__download{
    background: #ccc url(./images/download_icon.png) center no-repeat;
    background-size: 80%;
    border-radius: 2px;   
    transition-property: background-size;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
    transition-delay: 0.3s;
}

.video-hud__download:hover{
    background-size: 83%;
}

/*стилизуем input type=range*/

/*сброс стилей*/
input[type=range] {
    -webkit-appearance: none; /* Скрывает слайдер, чтобы можно было создать свой */
    width: 100%; /* Указание параметра ширины требуется для Firefox. */
}
 
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}
 
input[type=range]:focus {
    outline: none; /* Убирает голубую границу у элемента. Хотя, возможно, и стоит создавать некоторое оформления для состояния фокуса в целях обеспечения доступности. */
}
 
input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent; /* Скрывает слайдер, чтобы можно было добавить собственные стили. */
    border-color: transparent;
    color: transparent;
}

/*оформление ползунка*/

/* Специальные правила для браузеров на движках WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px; /* Вам нужно указать значение для поля в Chrome, но в Firefox и IE это происходит автоматически */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Добавляем классные эффекты для слайдера! */
}
 
/* Тоже самое для Firefox */
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}
 
/* Тоже самое для IE */
input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

/*Оформление полосы диапазона*/
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
   
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
  }
   
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
   
  input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
  }
  input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
  }
/*надо сверить цвета!!!*/